.container {
  width: 100%;
  height: 18vw;
  background: #000000;
  position: relative;
  max-width: 1920px;
}

.logo {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  position: absolute;
  left: 35%;
}

.mainBlock {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 10;
  position: relative;
}
.telegramImage {
  width: 12.9%;
  height: auto;
  margin: 0 10.1% 0 23.3%;
}

.timeBlock {
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 30px;
  line-height: 28px;
  color: #FFFFFF;
  text-align: center;
  margin-right: 92px;
}

.addressBlock {
  flex-direction: column;
  justify-content: flex-end;
  color: #FFFFFF;
  display: flex;
}