.container {
    width: fit-content;
    height: 193px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.title {
    width: 37px;
    height: 100%;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #EB9264;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-transform: uppercase;
    text-align: center;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    height: 37px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}