@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Baumans';
    src: url('../assets/fonts/Baumans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}